/* Global Styles */
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #f7e0f5;
}

/* NavBar Styles */
.NavBar {
  background-color: #ffb3ba;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-size: 20px;
}

.NavBar:hover {
  background-color: #ff9999;
}

.span {
  margin: 10px;
}

.logo {
  width: 40px;
  height: auto;
}

/* App Layout */
.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  /* min-height: 100vh; */
  /* overflow-x: hidden; */
}

/* Main Content Styles */
.App .Main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 130px;
  min-height: 100vh;
}

.App .Main .NavBar {
  flex-grow: 0;
  height: 50px;
}

.App .RecipesList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.Main .Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  padding: 1rem;
  width: 25vw;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.App .Main .Content img {
  width: 100%;
  height: 40%;
  object-fit: cover;
  /* margin-right: 1em;
  border-radius: 8px; */
}

.App .Main .Content:hover {
  background-color: #fdf2e9;
}
.App .Main .Details {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* flex-grow: 1; */
}

.App .LowCalories {
  background-color: #c1e1c1;
  border: 1px solid aaa;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}
.App .Main a {
  text-decoration: none;
  color: #4a4a4a;
}

.App .ItemDetailsPage img {
  width: 300px;
}

/* Button Styles */
button {
  background-color: #ffb3ba;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  /* cursor: pointer; */
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #ff9999;
  transform: translateY(-2px);
}

button:active {
  background-color: #d9534f;
  transform: translateY(0);
}

button:disabled {
  background-color: #ddd;
  color: #aaa;
  cursor: not-allowed;
  box-shadow: none;
}

/* Container Style for Add a New Recipe */
.box {
  background-color: #fff8e1;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Label Styles for Add a new Recipe */
form label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #4a4a4a;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Sidebar Styles */
aside {
  background-color: #ffe0ac;
  width: 100px;
  height: 100vh;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  position: fixed;
}

/* Footer Styles */
footer {
  background-color: #ffb3ba;
  color: #fff;
  text-align: center;
  padding: 1em;
  flex-grow: 0;
  height: 50px;
}

.team-members {
  display: inline-flex;
}

.team-member-box {
  flex-direction: column;
  margin: 1rem auto;
  padding: 1rem;
  width: 30vw;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: transparent;
  display: inline-block;
}

.team-member-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: transparent;
}
